---
const { slug } = Astro.params;
---

<!-- This page is just to redirect another page. Cause i have created a page before like this /slug/id, but now i dont want to show id on link, but i have some pages already like this structure, so i did this page. -->
<span id="slug-container" data-slug={slug}></span>
<script>
  const slugContainer = document.querySelector("#slug-container");

  window.location.href = `/blog/${slugContainer.dataset.slug}`;
</script>
