---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Length Calculator | 10mblogs"><h1>Coming Soon...</h1></Layout>
<script>
  const url = `https://akshayanand.herokuapp.com/api/unit/?type=type&from=from&to=to&value=value`;
  // documentation = https://akshayanandraut.github.io/api-unit-converter/
</script>
